.container {
  position: absolute;
  bottom: 20px;
  left: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (width >= 960px) {
    bottom: 295px;
    left: 80px;
  }
}

.interval {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__data {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.12px;
  }

  &__buttons {
    display: flex;
    gap: 8.33px;
    align-items: center;

    @media (width >= 960px) {
      gap: 20px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;
    border: 1px solid #42567a;
    border-radius: 50%;

    &:hover,
    &:active {
      cursor: pointer;
      background-color: #fff;
    }

    @media (width >= 960px) {
      width: 50px;
      height: 50px;
    }
  }

  &__icon {
    transform: rotateZ(180deg);
  }

  @media (width >= 960px) {
    gap: 20px;
  }
}
